# Ignore node_modules except when building inside a container
node_modules
npm-debug.log
yarn-error.log

# Ignore build artifacts
/dist

# Ignore development files
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
.DS_Store

# Ignore version control files
.git
.gitignore

# Ignore Docker-related files
Dockerfile*
.dockerignore

# Ignore logs and databases
*.log

# Ignore Vite build cache
node_modules/.vite
